*{
    margin: 0;
    padding: 0;
}
.main ~ p{
    background-color: #000;
    color: #fff;
}
div .main ~ a{
    color: #000;
    text-decoration: none;
}
div .main ~ a:link{
    background-color: green;
    color: #fff;
}

div .main ~ a:visited{
    background-color: red;
    color: green;
}

div .main ~ a:hover{
    color: #ff00ff;
    background-color: #fff;
}

div .main ~ a:active{
    color: #0000ff;
}
p:first-child{
    background-color: #000;
    color: #ff00ff;
}
div .main ~ a:invalid{
    color: #ff0000;
}