h1{
    background-color: green;
    color: #fff;
    text-align: center;
}
.nav{
    background-color: blueviolet; 
    color: #fff;
}
.nav li{
    list-style-type: square;
    display: inline;
}
.nav li a{
    color: #fff;
    text-decoration: none;
}

.tb01 th{
    background-color: #fff;
    color: black;
}

.myls li{
    list-style-type: upper-roman;
}

table{
    width: 100%;
}

table, table th, table tr, table td{
    border: 1px solid;
    border-collapse: collapse;
}

.tablet2{
    background-color: red;
}
.tb02 tr td img{
    width: 30%;
    height: 30px;
}
.tb02 tr td{
    text-align: center;
}
.tb02 a{
    text-decoration: none;
    cursor: pointer;
    color: red;
}
.rw01{
    background-color: aqua;
    color: white;
}
