*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: green;
    color: #fff;
    text-align: center;
}
.nav{
    background-color: blueviolet; 
    color: #fff;
}
.nav li{
    list-style-type: square;
    display: inline;
}
.nav li a{
    color: #fff;
    text-decoration: none;
}

.tb01 th{
    background-color: #fff;
    color: black;
}

.myls li{
    list-style-type: upper-roman;
}

table{
    width: 100%;
}

table, table th, table tr, table td{
    border: 1px solid;
    border-collapse: collapse;
}

.tablet2{
    background-color: red;
}
.tb02 tr td img{
    width: 30%;
    height: 30px;
}
.tb02 tr td{
    text-align: center;
}
.tb02 a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
.tb02 tr td a:hover{
    color: aqua;
    font-size: 20px;
}
.rw01{
    background-color: aqua;
    color: white;
}

.iframe{
    margin-top: 20px;
    margin-bottom: 20px;
}
.to-top{
 text-align: right;
}
.to-top a{
   border: dashed 2px black;
    border-radius: 100%;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #0000ff;
    color: #fff;
}
.to-top a:hover{
color: #00ffff;
font-size: 10px;
}
.form{
    margin-bottom: 5px;
}
.form div{
    margin-bottom: 5px;
}
.form div input{
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 0.5px solid #000;
}
.form div select{
    padding: 5px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid #000;
}

.fieldset{
    margin: 20px;
}
.signup h1{
    color: blue;
    border: 100%;
    width: 50%;
}
.signup{
    margin: 5px;
}
.signup div{
    margin: 5px;
}
.signup div input{
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup h1{
    color: blue;
    border: 100%;
    width: 50%;
}
.signup{
    margin: 5px;
}
.signup div{
    margin: 5px;
}
.signup div input{
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signin h1{
    color: blue;
    border: 100%;
    width: 50%;
}
.signin{
    margin: 5px;
}
.signin div{
    margin: 5px;
}
.signin div input{
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo div img{
    width: 5%;
    height: 50px;
}
.logo div span{
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #0000ff;
    background-color: aliceblue;
}